# SwiftPM
.build/
.swiftpm/
Packages/*/.build/
Packages/*/.swiftpm/

# Xcode user data
*.xcuserstate
*.xcuserdata/
**/xcuserdata/
**/UserInterfaceState.xcuserstate

# macOS
.DS_Store
__MACOSX/

# DerivedData
DerivedData/

# Agent / IDE
.reasonix/
reasonix.toml
